
.topnav {
  background-color: #DCE2C8;
  overflow: hidden;
}

.topnav a {
  color: #A8DCD1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #F17F29;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #65DEF1;
  color: white;
}




html, body {
  background: #A8DCD1;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  color: #F17F29
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



li a {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;

}

img{
  width: 90%;;
  padding: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-bottom: 2px dashed #F96900;
}

a:hover {
  color: #F96900;
}

p {
  width: 50%;
  text-align: center;
  font-size: 14px;
  border: 15px;
  margin-bottom: 20px;
  color: #F96900;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  border-bottom: 2px dashed #F96900;

}

.bullets{
list-style-type: none;
margin-bottom: 20px

}

#container{
  width: 90%;
  max-width: 700px;
  margin: 30px auto;
  padding: 30px;
  border-bottom: 2px dashed #F96900;
}
